@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-1 {
  background: #fff;
}

.bg-2 {
  background: #fcfbf9;
}

.bg-3 {
  background: #2a2b2d;
}

.text-dark {
  color: #2a2b2d;
}

.bg-4 {
  background: #326629;
}

.h-fill {
  height: calc(100vh - 210px);
}

.bank-simulation {
  margin-top: 25px;
}

.dashboard-header {
  border-bottom: 1px solid #cacaca;
  min-width: 370px;
}

.content {
  padding-top: 20px;
  min-width: 370px;
}

.dashboard-header.menu-active,
.content.menu-active {
  width: calc(100% - 16rem);
  margin-left: 16rem;
}

.stat-pill {
  word-break: keep-all;
}

.google-maps-searchbox {
  width: 100%;
  margin: 10px 0;
}
